{% load static %}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'customer/css/login.css' %}">
      
   </head>
   <body>
      <div class="content">
         <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
         <div class="text">
            Login
         </div> 
         <form method="post">
            {% csrf_token %}
            <div class="field">
              <input type="text" name="email" required>
              <span class="fas fa-user"></span>
              <label>Email</label>
            </div>
            <br>
            <div class="field">
              <input type="password" name="password" required>
              <span class="fas fa-lock"></span>
              <label>Password</label>
            </div>
            <button type="submit">Login</button>
            <div class="forgot-pass">
              <a href="#">Forgot Password?</a>
            </div>
            <div class="sign-up">
              Not a member?
              <a href="{% url 'register' %}">Sign up now</a>
            </div>
          </form>          
      </div>
   </body>
</html>