{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'customer/css/header.css' %}" />
  <script
    src="https://kit.fontawesome.com/f7396dff9d.js"
    crossorigin="anonymous"
  ></script>
</head>
<html>
  <header>
    <!-- Header-Top start -->
    <div class="header-top">
      <span class="left-span" id="location"
        ><i class="fa-sharp fa-solid fa-location-dot"></i>
      </span>
      <span class="left-span"
        ><i class="fa-solid fa-grip-lines-vertical"></i>
      </span>
      <span class="left-span"
        ><a href="tel:+919966558383"
          ><i class="fa-solid fa-phone">&nbsp;</i>+919966558383</a
        ></span
      >
      <span class="left-span"
        ><i class="fa-solid fa-grip-lines-vertical"></i>
      </span>
      <span class="left-span"
        ><a
          href="https://api.whatsapp.com/send?phone=919966558383"
          target="_blank"
          ><i class="fa-brands fa-whatsapp">&nbsp;</i>+919966558383</a
        ></span
      >
      <button class="right-span">Login</button>
    </div>
    <!-- Header-Top end -->
    <!-- Header Start -->
    <div class="header">
      <div class="logo">
        <img src="/static/images/logo.png" alt="Logo" />
      </div>
      <div class="search">
        <!-- Search content here -->
        <div class="hamburger-menu"><i class="fa-solid fa-bars"></i></div>
        <input type="text" class="search-input" placeholder="Find Gifts" />
        <button type="submit" class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="user-section">
        <div class="wishlist">
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="cart">
          <!-- Cart content here -->
          <img src="/static/images/add_to_cart.png" alt="Cart" />
        </div>
        <div class="user-logo">
          <img src="/static/images/user_logo.png" alt="User Logo" />
        </div>
      </div>
    </div>
    <!-- Drop Down Content Start -->
    <div class="dropdown">
      <div class="item">
        RAKHI
        <i class="fa-solid fa-caret-down"></i>
        <div class="dropdown-options">
          <div class="options-container">
            <div class="options-left">
              <div class="dropdown-category">
                <h2 class="dropdown-category-title">By Type</h2>
                <ul class="dropdown-options">
                  <li>Option 1</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                </ul>
              </div>
              <div class="dropdown-category">
                <h2 class="dropdown-category-title">Digital Gifts</h2>
                <ul class="dropdown-options">
                  <li>Option 1</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                </ul>
              </div>
            </div>
            <div class="options-right">
              <img src="/static/images/birthday.jpg" alt="Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        VALENTINE
        <i class="fa-solid fa-caret-down"></i>
        <div class="dropdown-options">
          <div class="options-container">
            <div class="options-left">
              <div class="dropdown-category">
                <h2 class="dropdown-category-title">By Type</h2>
                <ul class="dropdown-options">
                  <li>Option 1</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                </ul>
              </div>
              <div class="dropdown-category">
                <h2 class="dropdown-category-title">Digital Gifts</h2>
                <ul class="dropdown-options">
                  <li>Option 1</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                </ul>
              </div>
            </div>
            <div class="options-right">
              <img src="/static/images/birthday.jpg" alt="Image" />
            </div>
          </div>
        </div>
      </div>
      <!-- Add more items here -->
    </div>
    <!-- Drop Down Content End -->
    <!-- Hamburger Menu Content Start -->
    <!-- The hamburger menu content -->
    <div class="hamburger-menu-container">
      <div class="hamburger-menu-content">
        <div class="close-mark"><i class="fa-solid fa-xmark"></i></div>
        <div class="ham-item">
          <div class="ham-item-name">
            RAKHI
            <i id="plus" class="fa-solid fa-plus"></i>
            <i id="minus" class="fa-solid fa-minus"></i>
          </div>
          <div class="ham-dropdown-options">
            <div class="ham-category">
              <h2 class="ham-category-title">By Type</h2>
              <ul class="ham-options">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </div>
            <div class="ham-category">
              <h2 class="ham-category-title">Digital Gifts</h2>
              <ul class="ham-options">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </div>
            <div class="ham-image">
              <img src="/static/images/birthday.jpg" alt="Image" />
            </div>
          </div>
        </div>
        <div class="ham-item">
          <div class="ham-item-name">
            BIRTHDAY
            <i id="plus" class="fa-solid fa-plus"></i>
            <i id="minus" class="fa-solid fa-minus"></i>
          </div>
          <div class="ham-dropdown-options">
            <div class="ham-category">
              <h2 class="ham-category-title">By Type</h2>
              <ul class="ham-options">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </div>
            <div class="ham-category">
              <h2 class="ham-category-title">Digital Gifts</h2>
              <ul class="ham-options">
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
              </ul>
            </div>
            <div class="ham-image">
              <img src="/static/images/Mugs/mug1.1.jpg" alt="Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hamburger Menu Content End -->
    <!-- Header End -->
  </header>
</html>
<script src="{% static 'customer/js/header.js' %}"></script>
