{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'customer/css/footer.css' %}" />
  </head>
  <footer class="footer">
    <div class="about-us">
      <p>
        Ever wondered gifting a special gift to your loved ones is difficult, do
        not worry we are here to help you find your ideal gift for your loved
        ones regardless of any occasion. One of the best ways to express your
        love or gratitude to someone is by gifting the best kind of gift in
        every possible way for birthday’s, anniversary, etc., with our
        personalized gifts and show them how much they mean to you. It shows the
        effort you put in to gifting your loved ones that perfectly unique and
        beautiful gift. Gifts are an inherent part of every occasion as they
        symbolize your love in physical form and make your presence felt every
        time. Whether you wish to express your newly found feelings to the one
        you secretly admire or surprise your partner from several years on any
        occasion then a gift is an answer to all your prayers. Amaze your loved
        ones with any of our love filled gifts to make their day special. Choose
        from our wide range of special hand crafted gifts and customize them as
        per your choice after the payment gateway and we will deliver them to
        your doorstep within no time. Please note that handmade gifts take time
        as they are personally hand crafted with our professionals, so we
        request you to order prior 10 days from the date of occasion to avoid
        any delay in the delivery. joyfulsurprises.in is a startup company that
        personalizes in hand crafted art pieces for our customers. Our dream is
        to spread happiness and joy across the world through our gifts and we
        never compromise in customer satisfaction. We really appreciate your
        time for reaching us for any complaints or compliments as we accept
        them, which helps us to improve and grow ourselves. For further details
        or queries you can reach us to <b>support@joyfulsurprises.in</b> 
      </p>
    </div>
    <div class="info">
      <div class="links">
        <a href="#"> &nbsp; Home &nbsp; </a>|
        <a href="#"> &nbsp; Gifts &nbsp; </a>|
        <a href="#"> &nbsp; Occasion &nbsp; </a>|
        <a href="#"> &nbsp; Relation &nbsp; </a>|
        <a href="#"> &nbsp; About Us &nbsp; </a>|
        <a href="#"> &nbsp; Privacy Policy &nbsp; </a>|
        <a href="#"> &nbsp; Terms Of Service &nbsp; </a>|
        <a href="#"> &nbsp; Refund Policy &nbsp; </a>|
        <a href="#"> &nbsp; Shipping Policy &nbsp; </a>|
        <a href="#"> &nbsp; Contact Us </a>
      </div>
      <div class="details">
        <div class="address">
          <p>
            <i class="fa-sharp fa-solid fa-location-dot"></i>&nbsp;&nbsp;
            Nagole, Hyderabad, Telangana - 500 035.
          </p>
        </div>
        <div class="phone">
          <a href="tel:+919966558383"
            ><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;+919966558383</a
          >
        </div>
        <div class="email">
          <a href="mailto:support@joyfulsurprises.in"
            ><i class="fas fa-envelope"></i
            >&nbsp;&nbsp;support@joyfulsurprises.in</a
          >
        </div>
      </div>
    </div>
    <div class="payment">
      <div class="copy-right">
        <p>Copyrights © 2023. All Rights Reserved.</p>
      </div>
      <div class="payment-logo">
        <img src="/static/images/payment.png" alt="" />
      </div>
    </div>
  </footer>
</html>
