{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/f7396dff9d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'customer/css/product.css' %}" />
    <title>Joyful Surprises</title>
  </head>
  {% include 'customer/customer_header.html' %}
  <body>
    <div class="product-section">
      <div class="product-img">
        <div class="img-display">
          <div class="img-large">
            <img
              id="largeImage"
              src="/static/images/best-sell.jpg"
              alt="Category 4"
            />
            <div class="guarantee">
              <img src="/static/images/smile safe support.png" alt="smile">
            </div>
          </div>
          <div class="thumbnail-images">
            <img
              src="/static/images/best-sell.jpg"
              alt="Thumbnail 1"
              onclick="updateLargeImage('/static/images/best-sell.jpg')"
            />
            <img
              src="/static/images/star.jpg"
              alt="Thumbnail 2"
              onclick="updateLargeImage('/static/images/star.jpg')"
            />
            <img
              src="/static/images/rakhi-gift.jpg"
              alt="Thumbnail 3"
              onclick="updateLargeImage('/static/images/rakhi-gift.jpg')"
            />
            <img
              src="/static/images/Mugs/mug1.1.jpg"
              alt="Thumbnail 4"
              onclick="updateLargeImage('/static/images/Mugs/mug1.1.jpg')"
            />
            <img
              src="/static/images/Mugs/mug1.3.jpg"
              alt="Thumbnail 5"
              onclick="updateLargeImage('/static/images/Mugs/mug1.3.jpg')"
            />
          </div>
        </div>
        
      </div>
      <div class="product-info">
        <h1>Wall Mounted Musician Playing Sitar Frame Figurine</h1>
        <div class="price-tag">
          <span class="rupee">₹</span>
          <span class="discounted-price">1999</span>
          <span class="actual-price">2999</span>
          <span class="discount-percentage"></span>
        </div>
        <button class="add-to-cart">Add To Cart</button>
        <button class="buy-now">Buy Now</button>
        <h2>Description</h2>
        <h4>Product Details</h4>
        <ul>
          <li>One Wall Mounted Musician Playing Sitar Framed Figurine</li>
          <li>Colour- Green</li>
          <li>Material- Metal</li>
          <li>Dimensions- 50 x 3 x 28 cms</li>
          <li>
            This is an antique wall hanging showpiece which provides a unique
            and vintage look to your home, office, and room.
          </li>
        </ul>
      </div>
    </div>
  </body>
  {% include 'customer/customer_footer.html' %}
</html>
<script src="{% static 'customer/js/product.js' %}"></script>
