/* Body styles */

body {
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ********** Product Grid ************ */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  row-gap: 30px;
}

.product-item {
  position: relative;
  overflow: hidden;
}

.best-seller-tag {
  position: absolute;
  top: 22px;
  left: -14px;
  transform: rotate(-45deg);
  background-color: #ff9800;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

.product-image {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.product-image input[type="range"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.product-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.product-image input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ff9800;
  border-radius: 50%;
  cursor: pointer;
}

.product-image input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #ff9800;
  border-radius: 50%;
  cursor: pointer;
}

.product-price,
.actual-price {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px; 
}

.action-buttons {
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  justify-content: space-around; /* Center align the buttons */
}

.action-buttons .action-cart,
.action-buttons .action-buy {
  padding: 10px 20px;
  background-color: #2e3368;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.flash-card {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f00f26;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  z-index: 9999;
  animation: flash-card-appear 0.3s ease-out;
}


/* Mobile View */
@media (max-width: 767px) {
  .product-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }

  
  }